<div>
	<!-- Container -->
	<div class="cover">
		<!-- Tour container -->
		<div>
			<!-- Background -->
			<div style="background: #000;" class="cover"></div>
			<!-- Tour -->
			<div equiviewr style="background: #eee; opacity: {{ models.light }}" class="cover"></div>
			<!-- Option -->
			<div class="light">
				<img
					style="
						right: 100px;
						position:absolute;
					"
					width="35"
					src="res/brillo.png"
				>
				<input
					style="
						height:10px;
						position:absolute;
						top:12px;
						right:0px;
						width:90px;
					"
					ng-model="models.light"
					min="0.3"
					max="1"
					step="0.01"
					type="range"
				>
			</div>
			<div class="temperature">
				<img width="35" src="res/temperatura.png">
				<div
					style="
						position: absolute;
						top: 50px;
						right: 11px;
						width: 10px;
						height: 80px;
						border: 1px solid #fff;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
					"	
				>
					<div
						style="
							position: absolute;
							bottom: 0px;
							right: 0px;
							width: 100%;
							height: 60%;
							background: #fff;
						"	
					>
					</div>
				</div>
			</div>
			<div class="sonido">
				<img style="position: absolute; left: 0px; top: 0px;" width="35" src="res/sonido.png">
				<div
					style="
						position: absolute;
						top: 11px;
						right: 0px;
						width: 150px;
						height: 10px;
						border: 1px solid #fff;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
					"	
				>
					<div
						style="
							position: absolute;
							bottom: 0px;
							left: 0px;
							height: 100%;
							width: 60%;
							background: #fff;
						"	
					>
					</div>
				</div>
			</div>
		</div>
		<!-- Views container -->
		<div id="vwsC" class="view-list-container" style="bottom: {{ models.viewsContainerStatus ? 0 : -85 }}px;">
			<!-- Transparent background -->
			<div class="cover" style="opacity: 0.5;background: #111;"></div>
			<!-- Views container -->
			<div style="position: absolute;left: 0px;bottom: 0px;width: 100%;height: 100%;overflow-x: hidden;overflow-y: hidden;">
				<!-- Views subcontainer -->
				<div id="vwsSC" style="width: {{ models.currentBuilding.views.length*170 }}px;">
					<!-- View -->
					<div ng-repeat="v in models.currentBuilding.views" title="{{ v.name }}" style="background: url({{ v.imgSrc }})no-repeat center center;background-size: cover; {{ (models.currentViewId == v.id)? 'box-shadow: 0px 0px 10px #fff;': '' }}" class="view-item" ng-click="methods.changeView(v.id)"></div>
				</div>
			</div>
			<button class="arrow arrow-left" ng-click="methods.scrollSides(-1)"></button>
			<button class="arrow arrow-right" ng-click="methods.scrollSides(1)"></button>
			<img src="res/arrow.png" class="hide-show-button {{ models.viewsContainerStatus || 'rotate' }}" ng-click="models.viewsContainerStatus = !models.viewsContainerStatus; ">
		</div>
		<!-- Map container -->
		<div gmaps ng-if="models.currentView == 'map'" class="cover"></div>
		<div sv ng-if="models.currentView == 'sv'" class="cover"></div>
		<!-- Options container -->
		<div
			style="position: absolute; left: 0px; top: 0px; padding: 10px; ">
			<button ng-click="models.currentView='views';" class="option-btn">
				<img src="res/viewer.png" style="width: 100%;">
			</button>
			<button ng-click="models.currentView='map';"  class="option-btn">
				<img src="res/marker.png" style="width: 100%;">
			</button>
			<button ng-click="models.currentView='sv';"  class="option-btn">
				<img src="res/street.png" style="width: 100%;">
			</button>
		</div>

	</div>
</div>