.cover{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.view-list-container{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 85px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
}

.view-item{
	width: 150px;
	height: calc( 100% - 16px );
	margin: 8px;
	float: left;
}

.hide-show-button{
	position: absolute;
	left: 10px;
	bottom: calc( 100% + 10px);
	background: none;
	border: none;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	box-shadow: 0px 0px 15px #000;
	width: 30px;
	height: 30px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
}
.hide-show-button.rotate{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.hide-show-button:focus{
	outline: none;
}
.hide-show-button img{
	width: 100%;
}

.option-btn{
	width: 60px;
	border: none;
	background: none;
}
.option-btn:focus{
	outline: none;
}
.option-btn img{
	-webkit-border-radius: 8%;
	-moz-border-radius: 8%;
	border-radius: 8%;
}

.light{
	position: absolute;
	right: 15px;
	top: 10px;
}

.sonido{
	position: absolute;
	right: 170px;
	top: 10px;
	width: 200px;
}

.temperature{
	position: absolute;
	right: 10px;
	top: 60px;
}

.arrow{
	position: absolute;
	width: 30px;
	height: 30px;
	top: calc( 50% - 15px );
	background: url(../res/arrow2.png) no-repeat center center;
	background-size: cover;
	border: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.arrow:focus{
	outline: none;
}
.arrow-left{
	left: 0px;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.arrow-right{
	right: 0px;
}

#vwsSC{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;	
}